.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 110px;
    background-color: white;
}

.about-content {
    display: flex;
    gap: 50px;
    max-width: 1800px;
    width: 100%;
    align-items: center;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 30px;
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.about-text h2 {
    margin: 0;
    padding: 0;
}

.about-text p {
    text-align: justify;
    line-height: 22px;
}

/* Tablet */
@media (max-width: 1024px) {
    .about-content {
        gap: 70px;
    }

    .about {
        padding: 60px 95px;
    }
}
  
/* Mobile Landscape */
@media (max-width: 767px) {
    .about-content {
        gap: 40px;
        flex-direction: column;
    }

    .about {
        padding: 50px 70px;
    }
}
  
/* Mobile Portrait */
@media (max-width: 479px) {
    .about {
        padding: 40px 55px;
    }
}

