.navbar {
    background-color: #1A1A1A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-container .nav-links li {
    margin: 0 25px;
}

.navbar .nav-container .order-now a {
    margin: 0 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s color;
}

.navbar a:hover {
    color: #FEC114;
}

.navbar .logo img {
    width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 25px;
}

.order-now {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: background-color 1s, color 1s, border 1s;
}

.order-now.button {
    background: white;
    color: black;
    border: 1px solid black;
}

.order-now.button:hover {
    background: black;
    color: white;
}

/* Tablet */
@media (max-width: 991px) {
    
}
  
/* Mobile Landscape */
@media (max-width: 767px) {
    
}
  
/* Mobile Portrait */
@media (max-width: 479px) {
    
}
