.navbar {
    background-color: #1A1A1A;
    padding: 10px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    max-width: 1930px;
    margin: 0 auto;
}

.nav-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-container .nav-links li {
    margin: 0 25px;
}

.navbar .nav-container .order-now a {
    margin: 0 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s color;
}

.nav-links a:hover {
    color: #FEC114;
}

.navbar .logo img {
    width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 35px;
}

.order-now {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.order-now a:hover {
    color:#535353
}

.order-now.button {
    background: white;
    color: black;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    max-width: 50px;
    margin-left: 0;
}

.hamburger img {
    height: 25px;
    margin-right: 25px;
}

/* Hamburger menu drop down activated for small desktops */
@media (max-width: 900px) {
    .navbar .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 67px;
        left: 0;
        backdrop-filter: blur(10px);
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        transition: transform 0.3s ease-in-out;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar .nav-container .nav-links li {
        text-align: center;
        margin: 10px 0;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbar ul li a {
        padding: 10px 0;
        width: 100%;
        display: block;
    }

    .hamburger {
        display: flex;
    }

    .navbar .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        background-color: rgba(109, 109, 109, 0.108);
        transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    .navbar .nav-links.active .nav-menu li {
        animation: fadeInUp 0.3s ease forwards;
        animation-delay: calc(0.1s * var(--i));
    }

    .nav-container {
        display: flex;
        align-items: center;
    }

    .hidden {
        display: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tablet */
@media (max-width: 900px) {
    
}
  
/* Mobile Landscape */
@media (max-width: 767px) {
    
}
  
/* Mobile Portrait */
@media (max-width: 479px) {
    
}
