html {
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #202020, #3a3a3a, #272727);
    background-size: 300% 300%;
    animation: smoothGradient 6s infinite alternate;
}

@keyframes smoothGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-wrapper {
    max-width: 1920px; /* Set the maximum width for the entire site */
    margin: 0 auto; /* Horizontally center the content */
    overflow-x: hidden; /* Prevent horizontal scroll for smaller screens */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    max-width: 700px;
    color: white;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 36px;
}


p {
    font-weight: 400;
    max-width: 600px;
}

/* Tablet */
@media (max-width: 991px) {
    
}
  
/* Mobile Landscape */
@media (max-width: 767px) {
    
}
  
/* Mobile Portrait */
@media (max-width: 479px) {
    
}
  