html {
    scroll-behavior: smooth;
}

.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    max-width: 700px;
    color: white;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 36px;
}


p {
    font-weight: 400;
    max-width: 600px;
}

@media (min-width: 1920px) {
    .main-wrapper {
        border: 1px solid black;
    }
}


/* Laptop */
@media (max-width: 1440px) {
    h1 {
        font-size: 38px;
        max-width: 600px;
    }

    h2 {
        font-size: 34px;
    }

    p, td {
        font-size: 15px;
    }
}

/* Tablet */
@media (max-width: 991px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    p, td {
        font-size: 14px;
    }
}
  
/* Mobile Landscape */
@media (max-width: 767px) {
    
}
  
/* Mobile Portrait */
@media (max-width: 479px) {
    
}
  